// -------------------------------------
// =Table of Content
// -------------------------------------

// 1. SASS Imports
// 2. Typography
// 3. Grid Layout


// -------------------------------------
// =Imports
// -------------------------------------

@import "imports/variables";
@import "imports/mixins";
@import "imports/grid";


// -------------------------------------
// =Base styles
// -------------------------------------

body
{
	margin:0;
	padding:0;
	background:#c4c4c4;
	color:#000;
}


// -------------------------------------
// =Typography
// -------------------------------------

html
{
	font:normal 87.5%/1.5 "Lucida Grande", Helvetica, Arial, sans-serif;
}


// -------------------------------------
// =Layout classes
// -------------------------------------

.l-page
{
	max-width:1140px;
	margin:0 auto;
	padding:0;

	@include mq(large)
	{
		margin-top:1em;
		margin-bottom:1em;
	}
}

.l-pageheader
{
	padding:1em 2em;
	background:#333;
	color:#ccc;
}

.l-pagecontent
{
	padding:1em 2em;
	background:#fff;
}

.l-pagefooter
{
	padding:1em 2em;
	background:#333;
	color:#ccc;
}

.island
{
	margin:0 0 1em;
	padding:1em;
	background:#ccc;
}