.nestedgrid {
  margin: auto -10px; }

.header, .content-primary, .content-secondary, .nestedmodule, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top; }

@media only screen and (min-width: 37.5em) {
  .nestedgrid {
    margin: auto -10px; }

  .header, .content-primary, .content-secondary, .nestedmodule, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top; }

  .nestedmodule {
    width: 100%; }

  .content-secondary, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 33.33333%; }

  .content-primary {
    width: 66.66667%; } }
@media only screen and (min-width: 62.5em) {
  .nestedgrid {
    margin: auto -10px; }

  .header, .content-primary, .content-secondary, .nestedmodule, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top; }

  .footerblock1 {
    width: 100%; }

  .nestedmodule {
    width: 50%; }

  .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 20%; }

  .content-secondary {
    width: 41.66667%; }

  .content-primary {
    width: 58.33333%; } }
html {
  font: normal 87.5%/1.5 Helvetica, Arial, sans-serif; }

body {
  background: #fff; }
  @media only screen and (min-width: 62.5em) {
    body {
      background: #ccc; } }

.button {
  display: inline-block;
  padding: 0.8em 1em;
  background: #ccc;
  color: #333;
  font: 600 90%/1 Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-radius: .3em; }

.page {
  max-width: 1500px;
  margin: 0 auto; }

.header {
  background: #898E2F; }

.content {
  background: #91B83D; }

.content-primary {
  background: #AEB43C; }

.content-secondary {
  background: #C4C04F; }

.nestedmodule {
  background: #C4A74F; }

.footer {
  background: #898E2F; }

.footerblock1 {
  background: #898E2F; }

.footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
  background: #898E2F; }
