.nestedgrid {
  margin: auto -20px; }

.header, .content-primary, .content-secondary, .nestedmodule, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top; }

@media only screen and (min-width: 37.5em) {
  .nestedmodule {
    width: 100%; }

  .content-secondary, .footerblock1, .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 33.333%; }

  .content-primary {
    width: 66.666%; } }
@media only screen and (min-width: 62.5em) {
  .footerblock1 {
    width: 100%; }

  .nestedmodule {
    width: 50%; }

  .footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
    width: 20%; }

  .content-secondary {
    width: 41.666%; }

  .content-primary {
    width: 58.333%; }

  .content-primary {
    position: relative;
    left: 41.666%; }

  .content-secondary {
    position: relative;
    right: 58.333%; } }
html {
  font: normal 87.5%/1.5 "Lucida Grande",Helvetica, Arial, sans-serif; }

body {
  background: #fff; }
  @media only screen and (min-width: 62.5em) {
    body {
      background: #D4D4D4; } }

.page {
  max-width: 1500px;
  margin: 0 auto; }

.header {
  background: #7F0000; }

.content {
  background: #FF4C4C; }

.content-primary {
  background: #FF0000; }

.content-secondary {
  background: #CC0000; }

.nestedmodule {
  background: #B20000; }

.footer {
  background: #BF5940; }

.footerblock1 {
  background: #BF5940; }

.footerblock2, .footerblock3, .footerblock4, .footerblock5, .footerblock6, .footerblock7 {
  background: #BF5940; }
