// -------------------------------------
// =media-queries
// -------------------------------------

/*
 * Allows you to use named media queries based on breakpoints list in _variables.scss
*/

@mixin mq($media-query)
{
	$isdefined:false;

	@each $breakpoint in $breakpoints
	{
		$mq-name:	nth($breakpoint, 1);
		$mq-param: nth($breakpoint, 2);

		@if ( (unquote($media-query) == $mq-name) and ($mq-param != "") )
		{
			@media all and #{$mq-param} { @content; }
			$isdefined:true;
		}
	}

	@if not $isdefined
	{
		@warn "Breakpoint ‘#{$media-query}’ is not defined";
	}
}

// -------------------------------------
// =Other mixins
// -------------------------------------