// -------------------------------------
// =media-queries
// -------------------------------------

/*
 * Allows you to use named media queries based on breakpoints list in _variables.scss
 *
 * [1] using "only all" in order to have ready made print stylesheets as per https://coderwall.com/p/n4vdmq
*/

@mixin mq($media-query)
{
	$isdefined:false;

	@each $breakpoint in $breakpoints
	{
		$mq-name:	nth($breakpoint, 1);
		$mq-param: nth($breakpoint, 2);

		@if ( (unquote($media-query) == $mq-name) and ($mq-param != "") )
		{
			@media only all and #{$mq-param} { @content; } // [1]
			$isdefined:true;
		}
	}

	@if not $isdefined
	{
		@warn "Breakpoint ‘#{$media-query}’ is not defined";
	}
}

// -------------------------------------
// =Other mixins
// -------------------------------------