// -------------------------------------
// =box sizing
// -------------------------------------
// used by grids: do not remove
@mixin box-sizing($type:border-box)
{
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
    box-sizing: $type;
}

// -------------------------------------
// =media-queries
// -------------------------------------
// creates media queries based on breakpoints list in _variables.scss
@mixin mq($media-query)
{
	@each $breakpoint in $breakpoints
	{
		$namespace:		nth($breakpoint, 1);
		$parameters:	nth($breakpoint, 2);

		@if ($namespace != "") and ($parameters !="")
		{
			@if ($media-query == $namespace)
			{
				@media only screen and #{$parameters} { @content; }
			}
		}
		@else
		{
			@warn "media queries parameters or namespaces not defined";
		}
	}
}

// -------------------------------------
// =Other mixins
// -------------------------------------